.Base{
    background-color: black;
    width: 95%;
    height: 95%;

    display: flex;
    align-items: baseline;


    /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
    $bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
    $bg-width: 50px;
    $bg-height: 50px;

    /* Animations */
    @-webkit-keyframes bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
    }
    @-moz-keyframes    bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
    }
    @-o-keyframes      bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
    }
    @keyframes         bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
    }

    @-webkit-keyframes bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
    }
    @-moz-keyframes    bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
    }
    @-o-keyframes      bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
    }
    @keyframes         bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
    }

    /* Main styles */
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  /* img size is 50x50 */
  background: url($bg-url) repeat 0 0;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  

    main {
        width: 90%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: baseline;

        .header {
            margin-left: 10%;
            margin-top: 5%;
            .apresentacao {

                h2 {
                    font-size: 60%;
                }
                h1 {
                    color: rgb(240, 86, 86);
                    font-size: 130%;
                }
                h3 {
                    font-size: 50%;
                    border: 2px solid black;
                    padding: 2px 5px;
                    border-radius: 10px;
                }
            }
        }

        .conteudo {
            width: 100%;
            margin-top: 5%;
            p{
                font-size: 45%;
                font-family: 'Kanit', sans-serif;
                font-weight: bold;
                max-width: 300px;
            }
            .links {
                margin-top: 10%;
                width: 90%;
                .alllinks {
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .link {
                        width: 40px;
                        height: 40px;
                        &:hover {
                            transform: scale(1.3);
                            cursor: pointer;
                        }
                    }
                    .wpp {
                        fill: green;
                    }
                    .lkd {
                        fill: blue;
                    }
                    .email{ 
                        fill: red;
                    }
                }
                .titleTecn {
                    margin-top: 4%;
                }
                .Tenologias {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    .tecnos {
                        aspect-ratio: 1/1;
                        width: 6%;
                        height: auto;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                
            }
        }
    }

    .menu {
        width: 10%;
        ul {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: auto;
            li{
                text-align: right;
                width: 100%;
                margin-bottom: 2px;
                padding-top: 5px;
                padding-right: 15%;
                font-size: 45%;
                &:hover {
                    background-color: rgba(235, 235, 235, 0.432);
                    cursor: pointer;
                    border-right: 2px solid black;
                    font-weight: bold;
                }
            }
        }
        
    }

}